### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/Db/compose-variables.env
/Db/copia.json
/Db/myenv
/Db/init-11.sql
/Db/init.sql
/Db/init_old.sql
.env
/Db/Content/content_ca.json
/Db/Content/countriesIso.json
/Db/Content/countriesIso_ca.json
/Db/Content/normalize_content.json
/Db/Content/prov_data_ca.json